@mixin gf-table($darkTheme: false) {
  background: transparent !important;

  .mat-footer-row,
  .mat-row {
    .mat-cell,
    .mat-footer-cell {
      border-bottom: 0;
    }
  }

  .mat-row {
    &:nth-child(even) {
      background-color: rgba(
        var(--palette-foreground-base),
        var(--palette-background-hover-alpha)
      );
    }
  }

  @if $darkTheme {
    .mat-row {
      &:nth-child(even) {
        background-color: rgba(
          var(--palette-foreground-base-dark),
          var(--palette-background-hover-alpha)
        );
      }
    }
  }
}
