@mixin gf-table($darkTheme: false) {
  --mat-table-background-color: var(--light-background);

  .mat-footer-row,
  .mat-row {
    .mat-cell,
    .mat-footer-cell {
      border-bottom: 0;
    }
  }

  .mat-mdc-footer-row {
    .mat-mdc-footer-cell {
      border-top: 1px solid
        rgba(
          var(--palette-foreground-divider),
          var(--palette-foreground-divider-alpha)
        );
    }
  }

  .mat-mdc-row {
    &:nth-child(even) {
      background-color: whitesmoke;
    }

    &:hover {
      background-color: #e6e6e6 !important;
    }
  }

  @if $darkTheme {
    --mat-table-background-color: var(--dark-background);

    .mat-mdc-footer-row {
      .mat-mdc-footer-cell {
        border-top-color: rgba(
          var(--palette-foreground-divider-dark),
          var(--palette-foreground-divider-dark-alpha)
        );
      }
    }

    .mat-mdc-row {
      &:nth-child(even) {
        background-color: #222222;
      }

      &:hover {
        background-color: #303030 !important;
      }
    }
  }
}
