<ng-container *ngIf="value || value === 0">
  <div
    class="d-flex"
    [ngClass]="position === 'end' ? 'justify-content-end' : ''"
  >
    <ng-container *ngIf="isNumber">
      <div *ngIf="colorizeSign && value > 0" class="mr-1 text-success">+</div>
      <div *ngIf="colorizeSign && value < 0" class="mr-1 text-danger">-</div>
      <div *ngIf="isPercent" [ngClass]="size === 'medium' ? 'h4 mb-0' : ''">
        {{ formattedValue }}%
      </div>
      <div *ngIf="!isPercent" [ngClass]="size === 'medium' ? 'h4 mb-0' : ''">
        {{ formattedValue }}
      </div>
      <small *ngIf="currency && size === 'medium'" class="ml-1">
        {{ currency }}
      </small>
      <div *ngIf="currency && size !== 'medium'" class="ml-1">
        {{ currency }}
      </div>
    </ng-container>
    <ng-container *ngIf="isDate">
      <div [ngClass]="size === 'medium' ? 'h4 mb-0' : ''">
        {{ formattedDate }}
      </div>
    </ng-container>
  </div>
  <small *ngIf="label">
    {{ label }}
  </small>
</ng-container>

<ngx-skeleton-loader
  *ngIf="value === undefined"
  animation="pulse"
  [theme]="{
    height: '1.5rem',
    width: '5rem'
  }"
></ngx-skeleton-loader>

<div *ngIf="value === null">
  <span class="text-monospace text-muted text-right">***</span>
  <span *ngIf="currency" class="ml-1 text-muted">{{ currency }}</span>
</div>
