<div
  class="align-items-center container d-flex flex-column h-100 justify-content-center overview p-0 position-relative"
>
  <div class="row w-100">
    <div class="col p-0">
      <div class="chart-container mx-auto position-relative">
        <div
          *ngIf="hasPermissionToCreateOrder && historicalDataItems?.length === 0"
          class="align-items-center d-flex h-100 justify-content-center w-100"
        >
          <div class="d-flex justify-content-center">
            <gf-no-transactions-info-indicator></gf-no-transactions-info-indicator>
          </div>
        </div>
        <gf-line-chart
          class="position-absolute"
          symbol="Performance"
          [historicalDataItems]="historicalDataItems"
          [hidden]="historicalDataItems?.length === 0"
          [locale]="user?.settings?.locale"
          [ngClass]="{ 'pr-3': deviceType === 'mobile' }"
          [showGradient]="true"
          [showLoader]="false"
          [showXAxis]="false"
          [showYAxis]="false"
          [unit]="user?.settings?.isExperimentalFeatures ? '%' : user?.settings?.baseCurrency"
        ></gf-line-chart>
      </div>
    </div>
  </div>
  <div class="overview-container row mt-1">
    <div class="col">
      <gf-portfolio-performance
        class="pb-4"
        [baseCurrency]="user?.settings?.baseCurrency"
        [deviceType]="deviceType"
        [errors]="errors"
        [hasError]="hasError"
        [isAllTimeHigh]="isAllTimeHigh"
        [isAllTimeLow]="isAllTimeLow"
        [isLoading]="isLoadingPerformance"
        [locale]="user?.settings?.locale"
        [performance]="performance"
        [showDetails]="showDetails"
      ></gf-portfolio-performance>
      <div *ngIf="showDetails" class="text-center">
        <gf-toggle
          [defaultValue]="dateRange"
          [isLoading]="isLoadingPerformance"
          [options]="dateRangeOptions"
          (change)="onChangeDateRange($event.value)"
        ></gf-toggle>
      </div>
    </div>
  </div>
</div>
