<gf-dialog-header
  mat-dialog-title
  [title]="data.title"
  (closeButtonClicked)="onClose()"
></gf-dialog-header>

<div mat-dialog-content>
  <div class="align-items-center d-flex flex-column">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label i18n>Security Token</mat-label>
      <textarea
        cdkTextareaAutosize
        matInput
        type="text"
        [(ngModel)]="data.accessToken"
      ></textarea>
    </mat-form-field>
    <ng-container *ngIf="data.hasPermissionToUseSocialLogin">
      <div class="my-3 text-center text-muted" i18n>or</div>
      <div class="d-flex flex-column">
        <button
          class="mb-2"
          mat-stroked-button
          (click)="onLoginWithInternetIdentity()"
        >
          <img
            class="mr-2"
            src="../assets/icons/internet-computer.svg"
            style="height: 0.75rem"
          /><span i18n>Sign in with Internet Identity</span>
        </button>
        <a href="../api/v1/auth/google" mat-stroked-button
          ><img
            class="mr-2"
            src="../assets/icons/google.svg"
            style="height: 1rem"
          /><span i18n>Sign in with Google</span></a
        >
      </div>
    </ng-container>
  </div>
</div>
<div mat-dialog-actions>
  <div class="flex-grow-1">
    <mat-checkbox i18n (change)="onChangeStaySignedIn($event)"
      >Stay signed in</mat-checkbox
    >
  </div>
  <div>
    <button
      color="primary"
      i18n
      mat-flat-button
      [disabled]="!data.accessToken"
      [mat-dialog-close]="data"
    >
      Sign in
    </button>
  </div>
</div>
