:host {
  display: block;

  .mat-checkbox {
    ::ng-deep {
      label {
        margin-bottom: 0;
      }
    }
  }

  .mat-form-field {
    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }
}
