@import 'apps/client/src/styles/ghostfolio-style';

:host {
  display: block;
  z-index: 999;

  .mat-toolbar {
    background-color: var(--light-background);

    .logo-container {
      &.filled {
        background-color: rgba(var(--palette-foreground-base), 0.02);
      }

      @media (min-width: 576px) {
        width: 14rem;
      }
    }

    .list-inline-item {
      margin: 0;
    }

    .mdc-button {
      height: 100%;

      &:not(.mat-primary) {
        background-color: transparent;
        text-decoration-color: rgba(var(--palette-primary-500), 1) !important;
        text-underline-offset: 0.25rem;
      }

      ion-icon {
        font-size: 1.5rem;

        &.rotate-90 {
          transform: rotate(90deg);
        }
      }
    }
  }
}

:host-context(.is-dark-theme) {
  .mat-toolbar {
    background-color: var(--dark-background);

    .logo-container {
      &.filled {
        background-color: rgba(var(--palette-foreground-base-dark), 0.02);
      }
    }
  }
}
