:host {
  display: block;
  z-index: 999;

  .mat-toolbar {
    background-color: var(--light-background);

    .logo-container {
      &.filled {
        background: linear-gradient(
          to bottom,
          transparent,
          rgba(var(--palette-foreground-base), 0.02)
        );
      }

      @media (min-width: 576px) {
        width: 14rem;
      }
    }

    .list-inline-item {
      margin: 0;
    }

    .mdc-button {
      height: 100%;

      &:not(.mat-primary) {
        background-color: transparent;
        text-decoration-color: rgba(var(--palette-primary-500), 1) !important;
        text-underline-offset: 0.25rem;
      }

      &.mat-badge {
        ::ng-deep {
          .mat-badge-content {
            --mat-badge-small-size-container-overlap-offset: -0.9rem;
            --mat-badge-small-size-text-size: 0;

            transform: scale(0.45);
          }
        }
      }

      ion-icon {
        font-size: 1.5rem;

        &.rotate-90 {
          transform: rotate(90deg);
        }
      }
    }
  }
}

:host-context(.theme-dark) {
  .mat-toolbar {
    background-color: var(--dark-background);

    .logo-container {
      &.filled {
        background: linear-gradient(
          to bottom,
          transparent,
          rgba(var(--palette-foreground-base-dark), 0.02)
        );
      }
    }
  }
}
