<div
  class="align-items-center container d-flex flex-grow-1 h-100 justify-content-center w-100"
>
  <div class="no-gutters row w-100">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <div class="mb-2 text-center text-muted">
        <small i18n>Last {{ numberOfDays }} Days</small>
      </div>
      <gf-line-chart
        class="mb-5"
        yMax="100"
        yMaxLabel="Greed"
        yMin="0"
        yMinLabel="Fear"
        [historicalDataItems]="historicalData"
        [showXAxis]="true"
        [showYAxis]="true"
      ></gf-line-chart>
      <gf-fear-and-greed-index
        class="d-flex justify-content-center"
        [fearAndGreedIndex]="fearAndGreedIndex"
        [hidden]="isLoading"
      ></gf-fear-and-greed-index>
    </div>
  </div>
</div>
