:host {
  display: block;

  .mat-dialog-content {
    max-height: unset;
  }
}

:host-context(.is-dark-theme) {
  .mat-dialog-content {
    .mat-datepicker-input {
      &.mat-input-element:disabled {
        color: var(--light-primary-text);
      }
    }
  }
}
