node_modules
.nx
.angular
dist
out-tsc
tmp
coverage
.git
.github
.vscode
.cursor
.idea
.env
.env.dev
.env.prod
.env.local
*.md
!CHANGELOG.md
!README.md
docker
!docker/entrypoint.sh
specs
test
uploads
*.log
npm-debug.log*
Thumbs.db
.DS_Store
.storybook
*.sublime-workspace
*.launch
.settings
.classpath
.project
.c9
libpeerconnection.log
testem.log
.sass-cache
connect.lock
typings
