# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/apps/api/data/*.json
/docker/**/*.*.*
/docker/**/*.*.*.zip
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# misc
/.sass-cache
/connect.lock
/coverage
/dist
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Local
/backups
.env
.env.*
ec2-nano-ssh.pem
