:host {
  color: rgb(var(--dark-primary-text));
  display: block;

  .mat-card-content {
    &.users {
      overflow-x: auto;

      table {
        tr {
          &:nth-child(even) {
            background-color: rgba(
              var(--dark-primary-text),
              var(--palette-background-hover-alpha)
            );
          }
        }

        .mat-row,
        .mat-header-row {
          width: 100%;
        }
      }
    }
  }

  .mat-flat-button {
    ::ng-deep {
      .mat-button-wrapper {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
}

:host-context(.is-dark-theme) {
  color: rgb(var(--light-primary-text));

  .mat-table {
    tr {
      &:nth-child(even) {
        background-color: rgba(
          var(--light-primary-text),
          var(--palette-background-hover-alpha)
        );
      }
    }
  }
}
