:host {
  color: rgb(var(--dark-primary-text));
  display: block;

  table {
    &.users {
      table-layout: fixed;

      tr {
        &:nth-child(even) {
          background-color: rgba(
            var(--dark-primary-text),
            var(--palette-background-hover-alpha)
          );
        }
      }
    }
  }

  .mat-flat-button {
    ::ng-deep {
      .mat-button-wrapper {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
}

:host-context(.is-dark-theme) {
  color: rgb(var(--light-primary-text));

  .mat-table {
    tr {
      &:nth-child(even) {
        background-color: rgba(
          var(--light-primary-text),
          var(--palette-background-hover-alpha)
        );
      }
    }
  }
}
