<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="align-items-center d-flex h3 justify-content-center mb-3">
        <span i18n>Granted Access</span>
        <gf-premium-indicator
          *ngIf="user?.subscription?.type === 'Basic'"
          class="ml-1"
        ></gf-premium-indicator>
      </h2>
      <gf-access-table
        [accesses]="accesses"
        [hasPermissionToCreateAccess]="hasPermissionToCreateAccess"
        [showActions]="hasPermissionToDeleteAccess"
        (accessDeleted)="onDeleteAccess($event)"
      ></gf-access-table>
    </div>
  </div>
</div>
