:host {
  .investment-chart {
    .mat-card {
      .mat-card-content {
        aspect-ratio: 16 / 9;

        gf-investment-chart {
          height: 100%;
        }
      }
    }
  }

  .proportion-charts {
    .mat-card {
      .mat-card-content {
        padding: 1rem 2rem;
      }
    }
  }

  .world-map-chart {
    .mat-card {
      .mat-card-content {
        aspect-ratio: 16 / 9;
      }
    }
  }

  .mat-card {
    .mat-card-header {
      ::ng-deep {
        .mat-card-header-text {
          flex: 1 1 auto;
        }
      }

      gf-toggle {
        font-size: 90%;
      }
    }

    a {
      color: rgba(var(--palette-primary-500), 1);
      font-weight: 500;

      &:hover {
        color: rgba(var(--palette-primary-300), 1);
      }
    }
  }
}
