@import '~apps/client/src/styles/ghostfolio-style';

:host {
  display: block;

  ::ng-deep {
    .mat-form-field-infix {
      border-top: 0 solid transparent !important;
    }
  }

  .mat-chip {
    cursor: pointer;
    min-height: 1.5rem !important;
  }

  .mat-table {
    th {
      ::ng-deep {
        .mat-sort-header-container {
          justify-content: inherit;
        }
      }
    }

    .mat-row {
      cursor: pointer;

      .type-badge {
        background-color: rgba(var(--palette-foreground-text), 0.05);
        border-radius: 1rem;
        line-height: 1em;

        ion-icon {
          font-size: 1rem;
        }

        &.buy {
          color: var(--green);
        }

        &.sell {
          color: var(--orange);
        }
      }
    }
  }
}

:host-context(.is-dark-theme) {
  .mat-form-field {
    color: rgba(var(--light-primary-text));
  }

  .mat-table {
    .type-badge {
      background-color: rgba(
        var(--palette-foreground-text-dark),
        0.1
      ) !important;
    }
  }
}
