<mat-form-field appearance="outline" class="w-100">
  <ion-icon class="mr-1" matPrefix name="search-outline"></ion-icon>
  <mat-chip-list #chipList aria-label="Search keywords">
    <mat-chip
      *ngFor="let searchKeyword of searchKeywords"
      class="mx-1 my-0 px-2 py-0"
      matChipRemove
      [removable]="true"
      (removed)="removeKeyword(searchKeyword)"
    >
      {{ searchKeyword | gfSymbol }}
      <ion-icon class="ml-2" matPrefix name="close-outline"></ion-icon>
    </mat-chip>
    <input
      #searchInput
      name="close-outline"
      [formControl]="searchControl"
      [matAutocomplete]="autocomplete"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [placeholder]="placeholder"
      (matChipInputTokenEnd)="addKeyword($event)"
    />
  </mat-chip-list>
  <mat-autocomplete
    #autocomplete="matAutocomplete"
    (optionSelected)="keywordSelected($event)"
  >
    <mat-option *ngFor="let filter of filters | async" [value]="filter">
      {{ filter | gfSymbol }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<table
  class="gf-table w-100"
  matSort
  matSortActive="date"
  matSortDirection="desc"
  mat-table
  [dataSource]="dataSource"
>
  <ng-container matColumnDef="count">
    <th
      *matHeaderCellDef
      class="d-none d-lg-table-cell px-1 text-right"
      i18n
      mat-header-cell
    >
      #
    </th>
    <td
      *matCellDef="let element; let i = index"
      class="d-none d-lg-table-cell px-1 text-right"
      mat-cell
    >
      {{ dataSource.data.length - i }}
    </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th *matHeaderCellDef class="px-1" i18n mat-header-cell mat-sort-header>
      Date
    </th>
    <td *matCellDef="let element" class="px-1" mat-cell>
      <div class="d-flex">
        {{ element.date | date: defaultDateFormat }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th *matHeaderCellDef class="px-1" i18n mat-header-cell mat-sort-header>
      Type
    </th>
    <td mat-cell *matCellDef="let element" class="px-1">
      <div
        class="d-inline-flex p-1 type-badge"
        [ngClass]="element.type == 'BUY' ? 'buy' : 'sell'"
      >
        <ion-icon
          [name]="
            element.type === 'BUY'
              ? 'arrow-forward-circle-outline'
              : 'arrow-back-circle-outline'
          "
        ></ion-icon>
        <span class="d-none d-lg-block mx-1">{{ element.type }}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th *matHeaderCellDef class="px-1" i18n mat-header-cell mat-sort-header>
      Symbol
    </th>
    <td *matCellDef="let element" class="px-1" mat-cell>
      <div class="d-flex align-items-center">
        {{ element.symbol | gfSymbol }}
        <span
          *ngIf="isAfter(element.date, endOfToday)"
          class="badge badge-secondary ml-1"
          i18n
          >Draft</span
        >
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="currency">
    <th
      *matHeaderCellDef
      class="d-none d-lg-table-cell px-1"
      i18n
      mat-header-cell
      mat-sort-header
    >
      Currency
    </th>
    <td *matCellDef="let element" class="d-none d-lg-table-cell px-1" mat-cell>
      {{ element.currency }}
    </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th
      *matHeaderCellDef
      class="d-none d-lg-table-cell justify-content-end px-1"
      i18n
      mat-header-cell
      mat-sort-header
    >
      Quantity
    </th>
    <td *matCellDef="let element" class="d-none d-lg-table-cell px-1" mat-cell>
      <div class="d-flex justify-content-end">
        <gf-value
          [isCurrency]="true"
          [locale]="locale"
          [value]="isLoading ? undefined : element.quantity"
        ></gf-value>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="unitPrice">
    <th
      *matHeaderCellDef
      class="d-none d-lg-table-cell justify-content-end px-1"
      i18n
      mat-header-cell
      mat-sort-header
    >
      Unit Price
    </th>
    <td *matCellDef="let element" class="d-none d-lg-table-cell px-1" mat-cell>
      <div class="d-flex justify-content-end">
        <gf-value
          [isCurrency]="true"
          [locale]="locale"
          [value]="isLoading ? undefined : element.unitPrice"
        ></gf-value>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="fee">
    <th
      *matHeaderCellDef
      class="d-none d-lg-table-cell justify-content-end px-1"
      i18n
      mat-header-cell
      mat-sort-header
    >
      Fee
    </th>
    <td *matCellDef="let element" class="d-none d-lg-table-cell px1" mat-cell>
      <div class="d-flex justify-content-end">
        <gf-value
          [isCurrency]="true"
          [locale]="locale"
          [value]="isLoading ? undefined : element.fee"
        ></gf-value>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="account">
    <th *matHeaderCellDef class="px-1" mat-header-cell>
      <span class="d-none d-lg-block" i18n>Account</span>
    </th>
    <td *matCellDef="let element" class="px-1" mat-cell>
      <div class="d-flex">
        <gf-symbol-icon
          *ngIf="element.Account?.Platform?.url"
          class="mr-1"
          [tooltip]="element.Account?.Platform?.name"
          [url]="element.Account?.Platform?.url"
        ></gf-symbol-icon>
        <span class="d-none d-lg-block">{{ element.Account?.name }}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef class="px-1 text-center" mat-header-cell>
      <button
        class="mx-1 no-min-width px-2"
        mat-button
        [matMenuTriggerFor]="transactionsMenu"
        (click)="$event.stopPropagation()"
      >
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </button>
      <mat-menu #transactionsMenu="matMenu" xPosition="before">
        <button
          *ngIf="hasPermissionToImportOrders"
          class="align-items-center d-flex"
          mat-menu-item
          (click)="onImport()"
        >
          <ion-icon class="mr-2" name="cloud-upload-outline"></ion-icon>
          <span i18n>Import</span>
        </button>
        <button
          class="align-items-center d-flex"
          mat-menu-item
          (click)="onExport()"
        >
          <ion-icon class="mr-2" name="cloud-download-outline"></ion-icon>
          <span i18n>Export</span>
        </button>
      </mat-menu>
    </th>
    <td *matCellDef="let element" class="px-1 text-center" mat-cell>
      <button
        class="mx-1 no-min-width px-2"
        mat-button
        [matMenuTriggerFor]="transactionMenu"
        (click)="$event.stopPropagation()"
      >
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </button>
      <mat-menu #transactionMenu="matMenu" xPosition="before">
        <button i18n mat-menu-item (click)="onUpdateTransaction(element)">
          Edit
        </button>
        <button i18n mat-menu-item (click)="onCloneTransaction(element)">
          Clone
        </button>
        <button i18n mat-menu-item (click)="onDeleteTransaction(element.id)">
          Delete
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr
    *matRowDef="let row; columns: displayedColumns"
    mat-row
    (click)="onOpenPositionDialog({ symbol: row.symbol, title: '' })"
  ></tr>
</table>

<ngx-skeleton-loader
  *ngIf="isLoading"
  animation="pulse"
  class="px-4 py-3"
  [theme]="{
    height: '1.5rem',
    width: '100%'
  }"
></ngx-skeleton-loader>
