:host {
  color: rgb(var(--dark-primary-text));
  display: block;

  gf-portfolio-proportion-chart {
    max-width: 80vh;
  }
}

:host-context(.is-dark-theme) {
  color: rgb(var(--light-primary-text));
}
