<form #addTransactionForm="ngForm" class="d-flex flex-column h-100">
  <h1 *ngIf="data.activity.id" mat-dialog-title i18n>Update activity</h1>
  <h1 *ngIf="!data.activity.id" mat-dialog-title i18n>Add activity</h1>
  <div class="flex-grow-1" mat-dialog-content>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Type</mat-label>
        <mat-select name="type" [formControl]="typeCtrl">
          <mat-option value="BUY" i18n>BUY</mat-option>
          <mat-option value="DIVIDEND" i18n>DIVIDEND</mat-option>
          <mat-option value="ITEM" i18n>ITEM</mat-option>
          <mat-option value="SELL" i18n>SELL</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div [ngClass]="{ 'd-none': !showAccountIdCtrl }">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Account</mat-label>
        <mat-select name="accountId" [formControl]="accountIdCtrl">
          <mat-option *ngFor="let account of data.accounts" [value]="account.id"
            >{{ account.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div [ngClass]="{ 'd-none': !showSearchSymbolCtrl }">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Symbol or ISIN</mat-label>
        <input
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          matInput
          [formControl]="searchSymbolCtrl"
          [matAutocomplete]="autocomplete"
          (blur)="onBlurSymbol()"
        />
        <mat-autocomplete
          #autocomplete="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="onUpdateSymbol($event)"
        >
          <ng-container>
            <mat-option
              *ngFor="let lookupItem of filteredLookupItemsObservable | async"
              class="autocomplete"
              [value]="lookupItem"
            >
              <span class="mr-2 symbol">{{ lookupItem.symbol | gfSymbol }}</span
              ><span><b>{{ lookupItem.name }}</b></span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <mat-spinner *ngIf="isLoading" matSuffix [diameter]="20"></mat-spinner>
      </mat-form-field>
    </div>
    <div [ngClass]="{ 'd-none': !showNameCtrl }">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Name</mat-label>
        <input matInput name="name" [formControl]="nameCtrl" />
      </mat-form-field>
    </div>
    <div class="d-none">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Currency</mat-label>
        <mat-select
          class="no-arrow"
          name="currency"
          [formControl]="currencyCtrl"
        >
          <mat-option *ngFor="let currency of currencies" [value]="currency"
            >{{ currency }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-none">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Data Source</mat-label>
        <input matInput name="dataSource" [formControl]="dataSourceCtrl" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Date</mat-label>
        <input
          matInput
          name="date"
          [formControl]="dateCtrl"
          [matDatepicker]="date"
        />
        <mat-datepicker-toggle matSuffix [for]="date">
          <ion-icon
            class="text-muted"
            matDatepickerToggleIcon
            name="calendar-clear-outline"
          ></ion-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #date disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Quantity</mat-label>
        <input
          matInput
          name="quantity"
          type="number"
          [formControl]="quantityCtrl"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Unit Price</mat-label>
        <input
          matInput
          name="unitPrice"
          type="number"
          [formControl]="unitPriceCtrl"
        />
        <span class="ml-2" matSuffix>{{ currencyCtrl.value }}</span>
        <button
          *ngIf="currentMarketPrice && (data.activity.type === 'BUY' || data.activity.type === 'SELL')"
          mat-icon-button
          matSuffix
          title="Apply current market price"
          (click)="applyCurrentMarketPrice()"
        >
          <ion-icon class="text-muted" name="refresh-outline"></ion-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Fee</mat-label>
        <input matInput name="fee" type="number" [formControl]="feeCtrl" />
        <span class="ml-2" matSuffix>{{ currencyCtrl.value }}</span>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex" mat-dialog-actions>
    <gf-value
      class="flex-grow-1"
      [currency]="currencyCtrl.value"
      [locale]="data.user?.settings?.locale"
      [value]="feeCtrl.value + (quantityCtrl.value * unitPriceCtrl.value) ?? 0"
    ></gf-value>
    <div>
      <button i18n mat-button (click)="onCancel()">Cancel</button>
      <button
        color="primary"
        i18n
        mat-flat-button
        [disabled]="!(addTransactionForm.form.valid)"
        (click)="onSubmit()"
      >
        Save
      </button>
    </div>
  </div>
</form>
