<div class="container p-0">
  <div class="row no-gutters">
    <div class="col">
      <mat-card
        *ngIf="hasPermissionToCreateOrder && rules === null"
        class="my-2 text-center"
      >
        <gf-no-transactions-info-indicator
          [hasBorder]="false"
        ></gf-no-transactions-info-indicator>
      </mat-card>

      <gf-rule *ngIf="rules?.length === 0" [isLoading]="true"></gf-rule>
      <ng-container *ngIf="rules !== null && rules !== undefined">
        <gf-rule *ngFor="let rule of rules" [rule]="rule"></gf-rule>
      </ng-container>
    </div>
  </div>
</div>
