<div class="container p-0">
  <div class="row no-gutters">
    <div class="col">
      <mat-card *ngIf="rules === null" class="my-2 text-center">
        <gf-no-transactions-info-indicator></gf-no-transactions-info-indicator>
      </mat-card>

      <gf-rule *ngIf="rules === undefined" [isLoading]="true"></gf-rule>
      <ng-container *ngIf="rules !== null && rules !== undefined">
        <gf-rule *ngFor="let rule of rules" [rule]="rule"></gf-rule>
      </ng-container>
    </div>
  </div>
</div>
