<form
  class="d-flex flex-column h-100"
  [formGroup]="createAssetProfileForm"
  (keyup.enter)="createAssetProfileForm.valid && onSubmit()"
  (ngSubmit)="onSubmit()"
>
  <h1 i18n mat-dialog-title>Add Asset Profile</h1>
  <div class="flex-grow-1 py-3" mat-dialog-content>
    <div class="mb-3">
      <mat-radio-group
        color="primary"
        [value]="mode"
        (change)="onRadioChange($event.value)"
      >
        <mat-radio-button name="auto" value="auto" />
        <label class="m-0" for="auto" i18n>Search</label>
        <mat-radio-button class="ml-3" name="manual" value="manual">
        </mat-radio-button>
        <label class="m-0" for="manual" i18n>Add Manually</label>
      </mat-radio-group>
    </div>

    <div *ngIf="mode === 'auto'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Name, symbol or ISIN</mat-label>
        <gf-symbol-autocomplete
          formControlName="searchSymbol"
          [includeIndices]="true"
        />
      </mat-form-field>
    </div>
    <div *ngIf="mode === 'manual'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Symbol</mat-label>
        <input formControlName="addSymbol" matInput />
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button i18n mat-button type="button" (click)="onCancel()">Cancel</button>
    <button
      color="primary"
      mat-flat-button
      type="submit"
      [disabled]="createAssetProfileForm.hasError('atLeastOneValid')"
    >
      <ng-container i18n>Save</ng-container>
    </button>
  </div>
</form>
