<mat-radio-group
  class="d-block text-nowrap"
  [formControl]="optionFormControl"
  (change)="onValueChange()"
>
  @for (option of options; track option) {
    <mat-radio-button
      class="d-inline-flex"
      [disabled]="isLoading"
      [ngClass]="{
        'cursor-default': option.value === optionFormControl.value,
        'cursor-pointer': !isLoading && option.value !== optionFormControl.value
      }"
      [value]="option.value"
      >{{ option.label }}</mat-radio-button
    >
  }
</mat-radio-group>
