@import '~apps/client/src/styles/ghostfolio-style';

:host {
  color: rgb(var(--dark-primary-text));
  display: block;
  min-height: 100vh;

  .container {
    &.overview {
      min-height: calc(100vh - 5rem);

      .button-container {
        bottom: 3rem;
        left: 0;
        right: 0;

        .mat-flat-button {
          background-color: rgba(0, 0, 0, $alpha-hover);
          border-radius: 2rem;
        }
      }

      .chart-container {
        aspect-ratio: 16 / 9;
        margin-top: 3rem;
        max-height: 50vh;

        // Fallback for aspect-ratio (using padding hack)
        @supports not (aspect-ratio: 16 / 9) {
          &::before {
            float: left;
            padding-top: 56.25%;
            content: '';
          }

          &::after {
            display: block;
            content: '';
            clear: both;
          }
        }

        gf-line-chart {
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: -1;
        }
      }
    }

    &.positions {
      padding-top: 5rem;
      min-height: calc(100vh - 5rem);
    }
  }
}

:host-context(.is-dark-theme) {
  color: rgb(var(--light-primary-text));

  .container {
    &.overview {
      .button-container {
        .mat-flat-button {
          background-color: rgba(255, 255, 255, $alpha-hover);
        }
      }
    }
  }
}
