<gf-dialog-header
  mat-dialog-title
  position="center"
  title="Ghostfolio Premium Data Provider"
  [deviceType]="data.deviceType"
  (closeButtonClicked)="onCancel()"
/>

<div class="text-center" mat-dialog-content>
  <p class="gf-text-wrap-balance">
    Early access to the official
    <a
      class="align-items-center d-inline-flex"
      target="_blank"
      [href]="data.pricingUrl"
      >Ghostfolio Premium
      <gf-premium-indicator class="d-inline-block ml-1" [enableLink]="false" />
    </a>
    data provider <strong>for self-hosters</strong>, offering
    <strong>80’000+ tickers</strong> from over <strong>50 exchanges</strong>, is
    ready now!
  </p>
  <div>
    <a
      color="primary"
      href="mailto:hi@ghostfol.io?Subject=Ghostfolio Premium Data Provider&body=Hello%0D%0DI am interested in the Ghostfolio Premium data provider. Could you please give me early access so I can try it for some time?%0D%0DKind regards"
      i18n
      mat-flat-button
      >Get Early Access</a
    >
    <div>
      <small class="text-muted" i18n>or</small>
    </div>
    <button
      color="accent"
      i18n
      mat-stroked-button
      (click)="onSetGhostfolioApiKey()"
    >
      I have an API key
    </button>
  </div>
</div>

<gf-dialog-footer
  mat-dialog-actions
  [deviceType]="data.deviceType"
  (closeButtonClicked)="onCancel()"
/>
