<form #addAuthDeviceForm="ngForm" class="d-flex flex-column h-100">
  <h1 *ngIf="data.authDevice.id" mat-dialog-title i18n>Update Device</h1>
  <h1 *ngIf="!data.authDevice.id" mat-dialog-title i18n>Add Device</h1>
  <div class="flex-grow-1" mat-dialog-content>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Name</mat-label>
        <input matInput name="name" required [(ngModel)]="data.authDevice.name" />
      </mat-form-field>
    </div>
  </div>
  <div class="justify-content-end" mat-dialog-actions>
    <button type='button' i18n mat-button (click)="dialogRef.close()">Cancel</button>
    <button
      type='submit'
      color="primary"
      i18n
      mat-flat-button
      [disabled]="!addAuthDeviceForm.form.valid"
      [mat-dialog-close]="data"
    >
      Save
    </button>
  </div>
</form>
