:host {
  display: block;

  .mat-mdc-dialog-content {
    max-height: unset;
  }

  .text-monospace {
    font-family:
      'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 0.875rem;
  }

  small {
    font-size: 0.75rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
