@import 'apps/client/src/styles/ghostfolio-style';

:host {
  display: block;

  gf-position {
    &:nth-child(even) {
      background-color: rgba(0, 0, 0, $alpha-hover);
    }
  }
}

:host-context(.is-dark-theme) {
  gf-position {
    &:nth-child(even) {
      background-color: rgba(255, 255, 255, $alpha-hover);
    }
  }
}
