:host {
  display: block;

  gf-position {
    &:nth-child(even) {
      background-color: rgba(0, 0, 0, var(--gf-theme-alpha-hover));
    }
  }
}

:host-context(.is-dark-theme) {
  gf-position {
    &:nth-child(even) {
      background-color: rgba(255, 255, 255, var(--gf-theme-alpha-hover));
    }
  }
}
