<div class="container p-0">
  <div class="row no-gutters">
    <div class="col">
      <ng-container *ngIf="positions === undefined">
        <gf-position [isLoading]="true" />
      </ng-container>
      <ng-container *ngIf="positions !== undefined">
        <ng-container *ngIf="hasPositions">
          <gf-position
            *ngFor="let position of positionsWithPriority"
            [baseCurrency]="baseCurrency"
            [deviceType]="deviceType"
            [locale]="locale"
            [position]="position"
            [range]="range"
          />
          <gf-position
            *ngFor="let position of positionsRest"
            [baseCurrency]="baseCurrency"
            [deviceType]="deviceType"
            [locale]="locale"
            [position]="position"
            [range]="range"
          />
        </ng-container>
        <div
          *ngIf="hasPermissionToCreateOrder && !hasPositions"
          class="p-3 text-center"
        >
          <gf-no-transactions-info-indicator [hasBorder]="false" />
        </div>
      </ng-container>
    </div>
  </div>
</div>
