version: '3.9'
services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    env_file:
      - ../.env
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    volumes:
      - postgres:/var/lib/postgresql/data
  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    env_file:
      - ../.env
    command: ['redis-server', '--requirepass', $REDIS_PASSWORD]
    ports:
      - ${REDIS_PORT:-6379}:6379

volumes:
  postgres:
