<div mat-dialog-title>{{ data.rule.name }}</div>

<div class="py-3" mat-dialog-content>
  <div
    class="w-100"
    [ngClass]="{ 'd-none': !data.rule.configuration.thresholdMin }"
  >
    <h6 class="mb-0">
      <ng-container i18n>Threshold Min</ng-container> ({{
        data.settings.thresholdMin?.toFixed(2)
      }})
    </h6>
    <label>{{ data.rule.configuration.threshold.min.toFixed(2) }}</label>
    <mat-slider
      name="thresholdMin"
      [max]="data.rule.configuration.threshold.max"
      [min]="data.rule.configuration.threshold.min"
      [step]="data.rule.configuration.threshold.step"
    >
      <input matSliderThumb [(ngModel)]="data.settings.thresholdMin" />
    </mat-slider>
    <label>{{ data.rule.configuration.threshold.max.toFixed(2) }}</label>
  </div>
  <div
    class="w-100"
    [ngClass]="{ 'd-none': !data.rule.configuration.thresholdMax }"
  >
    <h6 class="mb-0">
      <ng-container i18n>Threshold Max</ng-container> ({{
        data.settings.thresholdMax?.toFixed(2)
      }})
    </h6>
    <label>{{ data.rule.configuration.threshold.min.toFixed(2) }}</label>
    <mat-slider
      name="thresholdMax"
      [max]="data.rule.configuration.threshold.max"
      [min]="data.rule.configuration.threshold.min"
      [step]="data.rule.configuration.threshold.step"
    >
      <input matSliderThumb [(ngModel)]="data.settings.thresholdMax" />
    </mat-slider>
    <label>{{ data.rule.configuration.threshold.max.toFixed(2) }}</label>
  </div>
</div>

<div align="end" mat-dialog-actions>
  <button i18n mat-button (click)="dialogRef.close()">Close</button>
  <button
    color="primary"
    mat-flat-button
    (click)="dialogRef.close(data.settings)"
  >
    <ng-container i18n>Save</ng-container>
  </button>
</div>
