<div mat-dialog-title>{{ data.rule.name }}</div>

<div class="py-3" mat-dialog-content>
  <div
    appearance="outline"
    class="w-100"
    [ngClass]="{ 'd-none': !data.rule.configuration.thresholdMin }"
  >
    <label i18n>Threshold Min</label>
    <mat-slider
      name="thresholdMin"
      [max]="data.rule.configuration.threshold.max"
      [min]="data.rule.configuration.threshold.min"
      [step]="data.rule.configuration.threshold.step"
    >
      <input matSliderThumb [(ngModel)]="data.settings.thresholdMin" />
    </mat-slider>
    <mat-label>{{ data.settings.thresholdMin }}</mat-label>
  </div>
  <div
    appearance="outline"
    class="w-100"
    [ngClass]="{ 'd-none': !data.rule.configuration.thresholdMax }"
  >
    <mat-label i18n>Threshold Max</mat-label>
    <mat-slider
      name="thresholdMax"
      [max]="data.rule.configuration.threshold.max"
      [min]="data.rule.configuration.threshold.min"
      [step]="data.rule.configuration.threshold.step"
      ><input matSliderThumb [(ngModel)]="data.settings.thresholdMax"
    /></mat-slider>
    <mat-label>{{ data.settings.thresholdMax }}</mat-label>
  </div>
</div>

<div align="end" mat-dialog-actions>
  <button i18n mat-button (click)="dialogRef.close()">Close</button>
  <button
    color="primary"
    mat-flat-button
    (click)="dialogRef.close(data.settings)"
  >
    <ng-container i18n>Save</ng-container>
  </button>
</div>
