@import '~apps/client/src/styles/ghostfolio-style';

:host {
  display: block;
  font-size: 0.9rem;

  .date {
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
  }

  .day {
    background-color: var(--danger);
    height: 0.5rem;
    margin-right: 0.25rem;
    width: 0.5rem;

    &.available {
      background-color: var(--success);
    }
  }
}
