<table class="gf-table w-100" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="granteeAlias">
    <th *matHeaderCellDef class="px-1" i18n mat-header-cell>User</th>
    <td *matCellDef="let element" class="px-1" mat-cell>
      {{ element.granteeAlias }}
    </td></ng-container
  >

  <ng-container matColumnDef="type">
    <th *matHeaderCellDef class="px-1" i18n mat-header-cell>Type</th>
    <td *matCellDef="let element" class="px-1" mat-cell>
      <ion-icon class="mr-1" name="lock-closed-outline"></ion-icon>
      Restricted View
    </td></ng-container
  >

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
