<form class="d-flex flex-column h-100">
  <h1 mat-dialog-title i18n>Details for {{ data.symbol }}</h1>
  <div class="flex-grow-1" mat-dialog-content>
    <div class="mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Date</mat-label>
        <input
          disabled
          matInput
          name="date"
          [matDatepicker]="date"
          [(ngModel)]="data.date"
        />
        <mat-datepicker-toggle matSuffix [for]="date">
          <ion-icon
            class="text-muted"
            matDatepickerToggleIcon
            name="calendar-clear-outline"
          ></ion-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #date disabled="true"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="align-items-center d-flex">
      <mat-form-field appearance="outline" class="flex-grow-1 mr-2">
        <mat-label i18n>Market Price</mat-label>
        <input
          matInput
          name="marketPrice"
          readonly
          [(ngModel)]="data.marketPrice"
        />
      </mat-form-field>
      <button color="accent" i18n mat-flat-button (click)="onGatherData()">
        Gather Data
      </button>
    </div>
  </div>
  <div class="justify-content-end" mat-dialog-actions>
    <button i18n mat-button (click)="onCancel()">Cancel</button>
  </div>
</form>
