:host {
  display: block;

  .mat-mdc-dialog-content {
    max-height: unset;

    gf-line-chart {
      aspect-ratio: 16/9;
    }

    .edit-asset-profile-identifier-container {
      bottom: 0;
      right: 1rem;
      top: 0;
    }
  }
}
