<div class="container pb-3 px-3">
  <h1 class="d-none d-sm-block h3 mb-4 text-center" i18n>Summary</h1>
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <mat-card appearance="outlined">
        <mat-card-content>
          <gf-portfolio-summary
            [baseCurrency]="user?.settings?.baseCurrency"
            [hasPermissionToUpdateUserSettings]="
              !hasImpersonationId && hasPermissionToUpdateUserSettings
            "
            [isLoading]="isLoading"
            [language]="user?.settings?.language"
            [locale]="user?.settings?.locale"
            [summary]="summary"
            (emergencyFundChanged)="onChangeEmergencyFund($event)"
          />
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
