<div class="container pb-3 px-3">
  <h3 class="d-none d-sm-block mb-3 text-center" i18n>Summary</h3>
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <mat-card class="h-100">
        <mat-card-content>
          <gf-portfolio-summary
            [baseCurrency]="user?.settings?.baseCurrency"
            [hasPermissionToUpdateUserSettings]="!hasImpersonationId && hasPermissionToUpdateUserSettings"
            [isLoading]="isLoading"
            [language]="user?.settings?.language"
            [locale]="user?.settings?.locale"
            [summary]="summary"
            (emergencyFundChanged)="onChangeEmergencyFund($event)"
          ></gf-portfolio-summary>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
