<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="d-none d-sm-block h3 mb-3 text-center" i18n>Holdings</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="d-flex justify-content-end">
        <gf-toggle
          class="d-none d-lg-block"
          [defaultValue]="holdingType"
          [isLoading]="false"
          [options]="holdingTypeOptions"
          (change)="onChangeHoldingType($event.value)"
        />
      </div>
      <gf-holdings-table
        [baseCurrency]="user?.settings?.baseCurrency"
        [deviceType]="deviceType"
        [hasPermissionToCreateActivity]="hasPermissionToCreateOrder"
        [holdings]="holdings"
        [locale]="user?.settings?.locale"
      />
      @if (hasPermissionToCreateOrder && holdings?.length > 0) {
        <div class="text-center">
          <a
            class="mt-3"
            i18n
            mat-stroked-button
            [routerLink]="['/portfolio', 'activities']"
            >Manage Activities</a
          >
        </div>
      }
    </div>
  </div>
</div>
