:host {
  display: block;

  .mat-expansion-panel {
    background: none;
    box-shadow: none;

    .mat-expansion-panel-header {
      color: inherit;

      &[aria-disabled='true'] {
        cursor: default;
      }
    }
  }
}
