<gf-dialog-header
  mat-dialog-title
  [deviceType]="data.deviceType"
  [title]="title"
  (closeButtonClicked)="onClose()"
></gf-dialog-header>

<div mat-dialog-content>
  <div class="container p-0">
    <gf-line-chart
      class="mb-4"
      symbol="Performance"
      [benchmarkDataItems]="benchmarkDataItems"
      [benchmarkLabel]="benchmarkLabel"
      [historicalDataItems]="historicalDataItems"
      [showLegend]="true"
      [showXAxis]="true"
      [showYAxis]="false"
    ></gf-line-chart>
  </div>

  <div class="container p-0">
    <gf-fear-and-greed-index
      class="d-flex flex-column justify-content-center"
      [fearAndGreedIndex]="data.fearAndGreedIndex"
    ></gf-fear-and-greed-index>
  </div>
</div>

<gf-dialog-footer
  mat-dialog-actions
  [deviceType]="data.deviceType"
  (closeButtonClicked)="onClose()"
></gf-dialog-footer>
