<gf-dialog-header
  mat-dialog-title
  title="Performance"
  [deviceType]="data.deviceType"
  (closeButtonClicked)="onClose()"
></gf-dialog-header>

<div mat-dialog-content>
  <div class="container p-0">
    <gf-line-chart
      class="mb-4"
      symbol="Performance"
      [benchmarkDataItems]="benchmarkDataItems"
      [historicalDataItems]="historicalDataItems"
      [showGradient]="true"
      [showLegend]="true"
      [showXAxis]="true"
      [showYAxis]="false"
    ></gf-line-chart>
  </div>
</div>

<gf-dialog-footer
  mat-dialog-actions
  [deviceType]="data.deviceType"
  (closeButtonClicked)="onClose()"
></gf-dialog-footer>
