<div class="container">
  <h3 class="d-flex justify-content-center mb-3" i18n>Portfolio</h3>
  <div class="row">
    <div class="col-xs-12 col-md-6 mb-3">
      <mat-card class="d-flex flex-column h-100">
        <h4 i18n>Holdings</h4>
        <div class="flex-grow-1" i18n>
          Get an overview of your current holdings.
        </div>
        <div class="mt-2 text-right">
          <a
            color="primary"
            mat-button
            [routerLink]="['/portfolio', 'holdings']"
          >
            <span i18n>Open Holdings</span>
            <ion-icon class="ml-1" name="arrow-forward-outline"></ion-icon>
          </a>
        </div>
      </mat-card>
    </div>
    <div class="col-xs-12 col-md-6 mb-3">
      <mat-card class="d-flex flex-column h-100">
        <h4 i18n>Activities</h4>
        <div class="flex-grow-1" i18n>
          Manage your activities: stocks, ETFs, cryptocurrencies, dividend, and
          valuables.
        </div>
        <div class="mt-2 text-right">
          <a
            color="primary"
            mat-button
            [routerLink]="['/portfolio', 'activities']"
          >
            <span i18n>Open Activities</span>
            <ion-icon class="ml-1" name="arrow-forward-outline"></ion-icon>
          </a>
        </div>
      </mat-card>
    </div>
    <div class="col-xs-12 col-md-6 mb-3">
      <mat-card class="d-flex flex-column h-100">
        <h4 class="align-items-center d-flex">
          <span i18n>Allocations</span>
          <gf-premium-indicator
            *ngIf="user?.subscription?.type === 'Basic'"
            class="ml-1"
          ></gf-premium-indicator>
        </h4>
        <div class="flex-grow-1" i18n>
          Check the allocations of your portfolio by account, asset class,
          currency, sector and region.
        </div>
        <div class="mt-2 text-right">
          <a
            color="primary"
            mat-button
            [routerLink]="['/portfolio', 'allocations']"
          >
            <span i18n>Open Allocations</span>
            <ion-icon class="ml-1" name="arrow-forward-outline"></ion-icon>
          </a>
        </div>
      </mat-card>
    </div>
    <div class="col-xs-12 col-md-6 mb-3">
      <mat-card class="d-flex flex-column h-100">
        <h4 class="align-items-center d-flex">
          <span i18n>Analysis</span>
          <gf-premium-indicator
            *ngIf="user?.subscription?.type === 'Basic'"
            class="ml-1"
          ></gf-premium-indicator>
        </h4>
        <div class="flex-grow-1" i18n>
          Ghostfolio Analysis visualizes your portfolio and shows your top and
          bottom performers.
        </div>
        <div class="mt-2 text-right">
          <a
            color="primary"
            mat-button
            [routerLink]="['/portfolio', 'analysis']"
          >
            <span i18n>Open Analysis</span>
            <ion-icon class="ml-1" name="arrow-forward-outline"></ion-icon>
          </a>
        </div>
      </mat-card>
    </div>
    <div class="col-xs-12 col-md-6 mb-3">
      <mat-card class="d-flex flex-column h-100">
        <h4 class="align-items-center d-flex">
          <span>X-ray</span>
          <gf-premium-indicator
            *ngIf="user?.subscription?.type === 'Basic'"
            class="ml-1"
          ></gf-premium-indicator>
        </h4>
        <div class="flex-grow-1" i18n>
          Ghostfolio X-ray uses static analysis to identify potential issues and
          risks in your portfolio.
        </div>
        <div class="mt-2 text-right">
          <a color="primary" mat-button [routerLink]="['/portfolio', 'report']">
            <span i18n>Open X-ray</span>
            <ion-icon class="ml-1" name="arrow-forward-outline"></ion-icon>
          </a>
        </div>
      </mat-card>
    </div>
    <div class="col-xs-12 col-md-6 mb-3">
      <mat-card class="d-flex flex-column h-100">
        <h4 class="align-items-center d-flex">
          <span i18n>FIRE</span>
          <gf-premium-indicator
            *ngIf="user?.subscription?.type === 'Basic'"
            class="ml-1"
          ></gf-premium-indicator>
        </h4>
        <div class="flex-grow-1" i18n>
          Ghostfolio FIRE calculates metrics for the
          <i>Financial Independence, Retire Early</i> lifestyle.
        </div>
        <div class="mt-2 text-right">
          <a color="primary" mat-button [routerLink]="['/portfolio', 'fire']">
            <span i18n>Open FIRE</span>
            <ion-icon class="ml-1" name="arrow-forward-outline"></ion-icon>
          </a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
