<div class="intro-container mb-5">
  <div class="intro-inner-container mx-auto">
    <div class="h-100 intro w-100"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div
      class="align-items-center d-flex flex-column justify-content-center w-100"
    >
      <gf-logo size="large" />
      <p class="lead m-0">Wealth Management Software</p>
    </div>
  </div>

  <div *ngIf="hasPermissionToCreateUser" class="button-container row">
    <div class="align-items-center col d-flex justify-content-center">
      <div class="py-5 text-center">
        <button
          class="d-inline-block"
          color="primary"
          mat-flat-button
          (click)="createAccount()"
        >
          <ng-container i18n>Create Account</ng-container>
        </button>
        <ng-container *ngIf="hasPermissionForSocialLogin">
          <div class="my-3 text-muted" i18n>or</div>
          <button
            *ngIf="false"
            class="d-block mb-2 px-4 rounded-pill"
            mat-stroked-button
            (click)="onLoginWithInternetIdentity()"
          >
            <img
              class="mr-2"
              src="../assets/icons/internet-computer.svg"
              style="height: 0.75rem"
            />
            <span i18n>Continue with Internet Identity</span>
          </button>
          <a
            class="px-4 rounded-pill w-100"
            href="../api/v1/auth/google"
            mat-stroked-button
            ><img
              class="mr-2"
              src="../assets/icons/google.svg"
              style="height: 1rem"
            /><span i18n>Continue with Google</span></a
          >
        </ng-container>
      </div>
    </div>
  </div>
</div>
