@import 'apps/client/src/styles/ghostfolio-style';

:host {
  display: block;

  .mat-mdc-table {
    #isExcluded-icon {
      font-size: 125%;
    }

    #isNotExcluded-icon {
      font-size: 125%;
      color: gray;
    }

    th {
      ::ng-deep {
        .mat-sort-header-container {
          justify-content: inherit;
        }
      }
    }
  }
}
