@import '~apps/client/src/styles/ghostfolio-style';

:host {
  display: block;

  ::ng-deep {
    .mat-form-field-infix {
      border-top: 0 solid transparent !important;
    }
  }

  .mat-table {
    td {
      &.mat-footer-cell {
        border-top: 1px solid
          rgba(
            var(--palette-foreground-divider),
            var(--palette-foreground-divider-alpha)
          );
      }
    }

    th {
      ::ng-deep {
        .mat-sort-header-container {
          justify-content: inherit;
        }
      }
    }
  }
}

:host-context(.is-dark-theme) {
  .mat-form-field {
    color: rgba(var(--light-primary-text));
  }
}
