:host {
  display: block;

  .mat-dialog-actions {
    gf-value {
      font-size: 0.9rem;
    }
  }

  .mat-dialog-content {
    max-height: unset;

    .mat-datepicker-input {
      &.mat-mdc-input-element:disabled {
        color: var(--dark-primary-text);
      }
    }

    .mat-mdc-button {
      &.apply-current-market-price {
        height: 56px;
      }
    }
  }
}

:host-context(.is-dark-theme) {
  .mat-dialog-content {
    .mat-datepicker-input {
      &.mat-mdc-input-element:disabled {
        color: var(--light-primary-text);
      }
    }
  }
}
