<form
  class="d-flex flex-column h-100"
  [formGroup]="activityForm"
  (keyup.enter)="activityForm.valid && onSubmit()"
  (ngSubmit)="onSubmit()"
>
  <h1 *ngIf="data.activity.id" i18n mat-dialog-title>Update activity</h1>
  <h1 *ngIf="!data.activity.id" i18n mat-dialog-title>Add activity</h1>
  <div class="flex-grow-1" mat-dialog-content>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option i18n value="BUY">BUY</mat-option>
          <mat-option i18n value="DIVIDEND">DIVIDEND</mat-option>
          <mat-option i18n value="ITEM">ITEM</mat-option>
          <mat-option i18n value="SELL">SELL</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      [ngClass]="{ 'd-none': !activityForm.controls['accountId'].hasValidator(Validators.required) }"
    >
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Account</mat-label>
        <mat-select formControlName="accountId">
          <mat-option *ngFor="let account of data.accounts" [value]="account.id"
            >{{ account.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div
      [ngClass]="{ 'd-none': !activityForm.controls['searchSymbol'].hasValidator(Validators.required) }"
    >
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Name, symbol or ISIN</mat-label>
        <input
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          formControlName="searchSymbol"
          matInput
          [matAutocomplete]="autocomplete"
          (blur)="onBlurSymbol()"
        />
        <mat-autocomplete
          #autocomplete="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="onUpdateSymbol($event)"
        >
          <ng-container>
            <mat-option
              *ngFor="let lookupItem of filteredLookupItemsObservable | async"
              class="autocomplete"
              [value]="lookupItem"
            >
              <span class="mr-2 symbol">{{ lookupItem.symbol | gfSymbol }}</span
              ><span><b>{{ lookupItem.name }}</b></span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <mat-spinner *ngIf="isLoading" matSuffix [diameter]="20"></mat-spinner>
      </mat-form-field>
    </div>
    <div
      [ngClass]="{ 'd-none': !activityForm.controls['name'].hasValidator(Validators.required) }"
    >
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Name</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
    </div>
    <div class="d-none">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Currency</mat-label>
        <mat-select class="no-arrow" formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency"
            >{{ currency }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-none">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Data Source</mat-label>
        <input formControlName="dataSource" matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="date" />
        <mat-datepicker-toggle matSuffix [for]="date">
          <ion-icon
            class="text-muted"
            matDatepickerToggleIcon
            name="calendar-clear-outline"
          ></ion-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #date disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Quantity</mat-label>
        <input formControlName="quantity" matInput type="number" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Unit Price</mat-label>
        <input formControlName="unitPrice" matInput type="number" />
        <span class="ml-2" matSuffix
          >{{ activityForm.controls['currency'].value }}</span
        >
        <button
          *ngIf="currentMarketPrice && (data.activity.type === 'BUY' || data.activity.type === 'SELL')"
          mat-icon-button
          matSuffix
          title="Apply current market price"
          type="button"
          (click)="applyCurrentMarketPrice()"
        >
          <ion-icon class="text-muted" name="refresh-outline"></ion-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Fee</mat-label>
        <input formControlName="feeInCustomCurrency" matInput type="number" />
        <div
          class="ml-2"
          matSuffix
          [ngClass]="{ 'd-none': !activityForm.controls['currency']?.value }"
        >
          <mat-select formControlName="currencyOfFee">
            <mat-option *ngFor="let currency of currencies" [value]="currency">
              {{ currency }}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>
    </div>
    <div class="d-none">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Fee</mat-label>
        <input formControlName="fee" matInput type="number" />
        <span class="ml-2" matSuffix
          >{{ activityForm.controls['currency'].value }}</span
        >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Note</mat-label>
        <textarea
          cdkAutosizeMinRows="2"
          cdkTextareaAutosize
          formControlName="comment"
          matInput
          (keyup.enter)="$event.stopPropagation()"
        ></textarea>
      </mat-form-field>
    </div>
    <div
      [ngClass]="{ 'd-none': activityForm.controls['type']?.value !== 'ITEM' }"
    >
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Asset Class</mat-label>
        <mat-select formControlName="assetClass">
          <mat-option [value]="null"></mat-option>
          <mat-option
            *ngFor="let assetClass of assetClasses"
            [value]="assetClass.id"
            >{{ assetClass.label }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div
      [ngClass]="{ 'd-none': activityForm.controls['type']?.value !== 'ITEM' }"
    >
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Asset Sub Class</mat-label>
        <mat-select formControlName="assetSubClass">
          <mat-option [value]="null"></mat-option>
          <mat-option
            *ngFor="let assetSubClass of assetSubClasses"
            [value]="assetSubClass.id"
            >{{ assetSubClass.label }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div [ngClass]="{ 'd-none': tags?.length <= 0 }">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label i18n>Tags</mat-label>
        <mat-chip-list #tagsChipList>
          <mat-chip
            *ngFor="let tag of activityForm.controls['tags']?.value"
            matChipRemove
            [removable]="true"
            (removed)="onRemoveTag(tag)"
          >
            {{ tag.name }}
            <ion-icon class="ml-2" matPrefix name="close-outline"></ion-icon>
          </mat-chip>
          <input
            #tagInput
            name="close-outline"
            [matAutocomplete]="autocompleteTags"
            [matChipInputFor]="tagsChipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          />
        </mat-chip-list>
        <mat-autocomplete
          #autocompleteTags="matAutocomplete"
          (optionSelected)="onAddTag($event)"
        >
          <mat-option
            *ngFor="let tag of filteredTagsObservable | async"
            [value]="tag.id"
          >
            {{ tag.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex" mat-dialog-actions>
    <gf-value
      class="flex-grow-1"
      [currency]="activityForm.controls['currency']?.value ?? data.user?.settings?.baseCurrency"
      [locale]="data.user?.settings?.locale"
      [value]="total"
    ></gf-value>
    <div>
      <button i18n mat-button type="button" (click)="onCancel()">Cancel</button>
      <button
        color="primary"
        mat-flat-button
        type="submit"
        [disabled]="!activityForm.valid"
      >
        <ng-container i18n>Save</ng-container>
      </button>
    </div>
  </div>
</form>
