:host {
  color: rgb(var(--dark-primary-text));
  display: block;

  a {
    color: rgba(var(--palette-primary-500), 1);
    font-weight: 500;

    &:hover {
      color: rgba(var(--palette-primary-300), 1);
    }
  }

  .call-to-action {
    background-color: rgba(var(--palette-foreground-text), 0.02);
  }
}

:host-context(.is-dark-theme) {
  color: rgb(var(--light-primary-text));

  .call-to-action {
    background-color: rgba(var(--palette-foreground-text-dark), 0.02);
  }
}
