<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <article>
        <div class="mb-4 text-center">
          <h1 class="mb-1">
            <strong>Ghostfolio</strong>:
            <ng-container i18n>The Open Source Alternative to</ng-container
            >&nbsp;<strong>{{ product2.name }}</strong>
          </h1>
        </div>
        <section class="mb-4">
          <p i18n>
            Are you looking for an open source alternative to
            {{ product2.name }}?
            <a [routerLink]="routerLinkAbout">Ghostfolio</a> is a powerful
            portfolio management tool that provides individuals with a
            comprehensive platform to track, analyze, and optimize their
            investments. Whether you are an experienced investor or just
            starting out, Ghostfolio offers an intuitive user interface and a
            <a [routerLink]="routerLinkFeatures"
              >wide range of functionalities</a
            >
            to help you make informed decisions and take control of your
            financial future.
          </p>
          <p i18n>
            Ghostfolio is an open source software (OSS), providing a
            cost-effective alternative to {{ product2.name }} making it
            particularly suitable for individuals on a tight budget, such as
            those
            <a href="../en/blog/2023/07/exploring-the-path-to-fire"
              >pursuing Financial Independence, Retire Early (FIRE)</a
            >. By leveraging the collective efforts of a community of developers
            and personal finance enthusiasts, Ghostfolio continuously enhances
            its capabilities, security, and user experience.
          </p>
          <p i18n>
            Let’s dive deeper into the detailed Ghostfolio vs
            {{ product2.name }} comparison table below to gain a thorough
            understanding of how Ghostfolio positions itself relative to
            {{ product2.name }}. We will explore various aspects such as
            features, data privacy, pricing, and more, allowing you to make a
            well-informed choice for your personal requirements.
          </p>
        </section>
        <section class="mb-4">
          <table class="gf-table w-100">
            <caption class="text-center" i18n>
              Ghostfolio vs
              {{
                product2.name
              }}
              comparison table
            </caption>
            <thead>
              <tr class="mat-mdc-header-row">
                <th class="mat-mdc-header-cell px-1 py-2"></th>
                <th class="mat-mdc-header-cell px-1 py-2">Ghostfolio</th>
                <th class="mat-mdc-header-cell px-1 py-2">
                  {{ product2.name }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-mdc-row">
                <td class="mat-mdc-cell px-3 py-2 text-right"></td>
                <td class="mat-mdc-cell px-1 py-2">{{ product1.slogan }}</td>
                <td class="mat-mdc-cell px-1 py-2">{{ product2.slogan }}</td>
              </tr>
              <tr class="mat-mdc-row">
                <td class="mat-mdc-cell px-3 py-2 text-right" i18n>Founded</td>
                <td class="mat-mdc-cell px-1 py-2">{{ product1.founded }}</td>
                <td class="mat-mdc-cell px-1 py-2">{{ product2.founded }}</td>
              </tr>
              <tr class="mat-mdc-row">
                <td class="mat-mdc-cell px-3 py-2 text-right" i18n>Origin</td>
                <td class="mat-mdc-cell px-1 py-2">{{ product1.origin }}</td>
                <td class="mat-mdc-cell px-1 py-2">{{ product2.origin }}</td>
              </tr>
              <tr class="mat-mdc-row">
                <td class="mat-mdc-cell px-3 py-2 text-right" i18n>Region</td>
                <td class="mat-mdc-cell px-1 py-2">{{ product1.region }}</td>
                <td class="mat-mdc-cell px-1 py-2">{{ product2.region }}</td>
              </tr>
              <tr class="mat-mdc-row">
                <td class="mat-mdc-cell px-3 py-2 text-right" i18n>
                  Available in
                </td>
                <td class="mat-mdc-cell px-1 py-2">
                  <ng-container
                    *ngFor="let language of product1.languages; last as isLast"
                    >{{ language }}{{ isLast ? '' : ', ' }}</ng-container
                  >
                </td>
                <td class="mat-mdc-cell px-1 py-2">
                  <ng-container
                    *ngFor="let language of product2.languages; last as isLast"
                    >{{ language }}{{ isLast ? '' : ', ' }}</ng-container
                  >
                </td>
              </tr>
              <tr class="mat-mdc-row">
                <td class="mat-mdc-cell px-3 py-2 text-right">
                  Open Source Software
                </td>
                <td class="mat-mdc-cell px-1 py-2">
                  <ng-container *ngIf="product1.isOpenSource" i18n
                    >✅ Yes</ng-container
                  ><ng-container *ngIf="!product1.isOpenSource" i18n
                    >❌ No</ng-container
                  >
                </td>
                <td class="mat-mdc-cell px-1 py-2">
                  <ng-container *ngIf="product2.isOpenSource" i18n
                    >✅ Yes</ng-container
                  ><ng-container *ngIf="!product2.isOpenSource" i18n
                    >❌ No
                  </ng-container>
                </td>
              </tr>
              <tr class="mat-mdc-row">
                <td class="mat-mdc-cell px-3 py-2 text-right" i18n>
                  Self-Hosting
                </td>
                <td class="mat-mdc-cell px-1 py-2">
                  <ng-container
                    *ngIf="product1.hasSelfHostingAbility === true"
                    i18n
                    >✅ Yes</ng-container
                  ><ng-container
                    *ngIf="product1.hasSelfHostingAbility === false"
                    i18n
                    >❌ No</ng-container
                  >
                </td>
                <td class="mat-mdc-cell px-1 py-2">
                  <ng-container
                    *ngIf="product2.hasSelfHostingAbility === true"
                    i18n
                    >✅ Yes</ng-container
                  ><ng-container
                    *ngIf="product2.hasSelfHostingAbility === false"
                    i18n
                    >❌ No</ng-container
                  >
                </td>
              </tr>
              <tr class="mat-mdc-row">
                <td class="mat-mdc-cell px-3 py-2 text-right" i18n>
                  Use anonymously
                </td>
                <td class="mat-mdc-cell px-1 py-2">
                  <ng-container *ngIf="product1.useAnonymously === true" i18n
                    >✅ Yes</ng-container
                  ><ng-container *ngIf="product1.useAnonymously === false" i18n
                    >❌ No</ng-container
                  >
                </td>
                <td class="mat-mdc-cell px-1 py-2">
                  <ng-container *ngIf="product2.useAnonymously === true" i18n
                    >✅ Yes</ng-container
                  ><ng-container *ngIf="product2.useAnonymously === false" i18n
                    >❌ No</ng-container
                  >
                </td>
              </tr>
              <tr class="mat-mdc-row">
                <td class="mat-mdc-cell px-3 py-2 text-right" i18n>
                  Free Plan
                </td>
                <td class="mat-mdc-cell px-1 py-2">
                  <ng-container *ngIf="product1.hasFreePlan === true" i18n
                    >✅ Yes</ng-container
                  ><ng-container *ngIf="product1.hasFreePlan === false" i18n
                    >❌ No</ng-container
                  >
                </td>
                <td class="mat-mdc-cell px-1 py-2">
                  <ng-container *ngIf="product2.hasFreePlan === true" i18n
                    >✅ Yes</ng-container
                  ><ng-container *ngIf="product2.hasFreePlan === false" i18n
                    >❌ No</ng-container
                  >
                </td>
              </tr>
              <tr class="mat-mdc-row">
                <td class="mat-mdc-cell px-3 py-2 text-right" i18n>Pricing</td>
                <td class="mat-mdc-cell px-1 py-2">
                  <span i18n>Starting from</span> ${{ price }} /
                  <span i18n>year</span>
                </td>
                <td class="mat-mdc-cell px-1 py-2">
                  <ng-container *ngIf="product2.pricingPerYear"
                    ><span i18n>Starting from</span>
                    {{ product2.pricingPerYear }} /
                    <span i18n>year</span></ng-container
                  >
                </td>
              </tr>
              <tr *ngIf="product1.note || product2.note" class="mat-mdc-row">
                <td class="mat-mdc-cell px-3 py-2 text-right" i18n>Notes</td>
                <td class="mat-mdc-cell px-1 py-2">{{ product1.note }}</td>
                <td class="mat-mdc-cell px-1 py-2">{{ product2.note }}</td>
              </tr>
            </tbody>
          </table>
        </section>
        <section class="mb-4">
          <p i18n>
            Please note that the information provided in the Ghostfolio vs
            {{ product2.name }} comparison table is based on our independent
            research and analysis. This website is not affiliated with
            {{ product2.name }} or any other product mentioned in the
            comparison. As the landscape of personal finance tools evolves, it
            is essential to verify any specific details or changes directly from
            the respective product page. Data needs a refresh? Help us maintain
            accurate data on
            <a href="https://github.com/ghostfolio/ghostfolio">GitHub</a>.
          </p>
        </section>
        <section class="call-to-action mb-4 py-3 rounded">
          <h2 class="h4 mb-0 text-center" i18n>
            Ready to take your <strong>investments</strong> to the
            <strong>next level</strong>?
          </h2>
          <p class="lead mb-2 text-center" i18n>
            Effortlessly track, analyze, and visualize your wealth with
            Ghostfolio.
          </p>
          <div class="text-center">
            <a color="primary" href="https://ghostfol.io" i18n mat-flat-button>
              Get Started
            </a>
          </div>
        </section>
        <section class="mb-4">
          <ul class="list-inline">
            <li class="list-inline-item">
              <span class="badge badge-light">Alternative</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">App</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Budgeting</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Community</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Family Office</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Fintech</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">{{ product1.name }}</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Investment</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Investor</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Open Source</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">OSS</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Personal Finance</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Privacy</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Portfolio</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Software</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Tool</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">User Experience</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Wealth</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">WealthTech</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">Wealth Management</span>
            </li>
            <li class="list-inline-item">
              <span class="badge badge-light">{{ product2.name }}</span>
            </li>
          </ul>
        </section>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a i18n [routerLink]="routerLinkResourcesPersonalFinanceTools"
                >Personal Finance Tools</a
              >
            </li>
            <li
              aria-current="page"
              class="active breadcrumb-item text-truncate"
            >
              Ghostfolio vs {{ product2.name }}
            </li>
          </ol>
        </nav>
      </article>
    </div>
  </div>
</div>
