@import 'apps/client/src/styles/ghostfolio-style';

:host {
  display: block;
  min-height: 100vh;

  footer {
    background-color: rgba(var(--palette-foreground-text), 0.05);
    font-size: 90%;
  }

  header {
    height: var(--mat-toolbar-standard-height);
  }

  main {
    min-height: calc(100vh - var(--mat-toolbar-standard-height));

    .info-message-container {
      height: 3.5rem;

      .info-message {
        background-color: rgba(var(--palette-foreground-text), 0.05);
        border-radius: 2rem;
        font-size: 80%;
        max-width: 100%;

        .a {
          color: rgba(var(--palette-primary-500), 1);
          font-weight: 500;
        }
      }
    }
  }
}

:host-context(.is-dark-theme) {
  footer {
    background-color: rgba(var(--palette-foreground-text-dark), 0.05);
  }

  main {
    .info-message-container {
      .info-message {
        background-color: rgba(var(--palette-foreground-text-dark), 0.05);
      }
    }
  }
}
