@import '~apps/client/src/styles/ghostfolio-style';

:host {
  display: block;
  min-height: 100vh;

  main {
    min-height: 100vh;
    padding-top: 5rem;

    .create-account-container {
      height: 3.5rem;
      margin-top: -0.5rem;

      .create-account-box {
        background-color: rgba(0, 0, 0, $alpha-hover);
        border-radius: 2rem;
        cursor: pointer;
        font-size: 80%;

        a {
          color: rgba(var(--palette-primary-500), 1);
          font-weight: bold;
        }
      }
    }
  }

  .footer {
    height: 5rem;
    line-height: 1;
  }
}
