@import 'apps/client/src/styles/ghostfolio-style';

:host {
  display: block;
  min-height: 100svh;

  &.has-info-message {
    header {
      height: calc(2 * var(--mat-toolbar-standard-height));

      .info-message-container {
        height: var(--mat-toolbar-standard-height);

        .info-message-inner-container {
          background-color: rgba(var(--palette-primary-500), 1);
          height: var(--mat-toolbar-standard-height);
          z-index: 999;

          .info-message {
            color: rgba(var(--palette-foreground-text), 1);
            font-size: 80%;
            max-width: 100%;

            .a {
              font-weight: 500;
            }
          }
        }
      }
    }

    main {
      min-height: calc(100svh - 2 * var(--mat-toolbar-standard-height));
    }
  }

  footer {
    background-color: rgba(var(--palette-foreground-text), 0.05);
    font-size: 90%;
  }

  header {
    height: var(--mat-toolbar-standard-height);
  }

  main {
    min-height: calc(100svh - var(--mat-toolbar-standard-height));
  }
}

:host-context(.is-dark-theme) {
  footer {
    background-color: rgba(var(--palette-foreground-text-dark), 0.05);
  }
}
