<div class="container">
  <h1 class="d-none d-sm-block h3 mb-4 text-center" i18n>Watchlist</h1>
  <div class="mb-3 row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <gf-benchmark
        [benchmarks]="watchlist"
        [deviceType]="deviceType"
        [locale]="user?.settings?.locale || undefined"
        [user]="user"
      />
    </div>
  </div>
</div>
<div class="fab-container">
  <a
    class="align-items-center d-flex justify-content-center"
    color="primary"
    mat-fab
    [queryParams]="{ createWatchlistItemDialog: true }"
    [routerLink]="[]"
  >
    <ion-icon name="add-outline" size="large" />
  </a>
</div>
