<div class="container">
  <div class="row">
    <div class="col-lg">
      <h3 class="d-flex justify-content-center mb-3" i18n>FIRE</h3>
      <div class="mb-5">
        <h4 i18n>4% Rule</h4>
        <div *ngIf="isLoading">
          <ngx-skeleton-loader
            animation="pulse"
            class="my-1"
            [theme]="{
              height: '1rem',
              width: '100%'
            }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            animation="pulse"
            [theme]="{
              height: '1rem',
              width: '10rem'
            }"
          ></ngx-skeleton-loader>
        </div>
        <div *ngIf="!isLoading">
          If you retire today, you would be able to withdraw
          <span class="font-weight-bold"
            ><gf-value
              class="d-inline-block"
              [currency]="user?.settings?.baseCurrency"
              [locale]="user?.settings?.locale"
              [value]="withdrawalRatePerYear?.toNumber()"
            ></gf-value>
            per year</span
          >
          or
          <span class="font-weight-bold"
            ><gf-value
              class="d-inline-block"
              [currency]="user?.settings?.baseCurrency"
              [locale]="user?.settings?.locale"
              [value]="withdrawalRatePerMonth?.toNumber()"
            ></gf-value>
            per month</span
          >, based on your total assets of
          <gf-value
            class="d-inline-block"
            [currency]="user?.settings?.baseCurrency"
            [locale]="user?.settings?.locale"
            [value]="fireWealth?.toNumber()"
          ></gf-value>
          and a withdrawal rate of 4%.
        </div>
      </div>
    </div>
  </div>
  <div>
    <h4 class="mb-3" i18n>Calculator</h4>
    <gf-fire-calculator
      [currency]="user?.settings?.baseCurrency"
      [deviceType]="deviceType"
      [fireWealth]="fireWealth?.toNumber()"
      [hasPermissionToUpdateUserSettings]="hasPermissionToUpdateUserSettings"
      [locale]="user?.settings?.locale"
      [savingsRate]="user?.settings?.savingsRate"
      (savingsRateChanged)="onSavingsRateChange($event)"
    ></gf-fire-calculator>
  </div>
</div>
