@import '~apps/client/src/styles/ghostfolio-style';

:host {
  display: block;

  ::ng-deep {
    .mat-form-field-infix {
      border-top: 0 solid transparent !important;
    }
  }

  .mat-table {
    th {
      ::ng-deep {
        .mat-sort-header-container {
          justify-content: inherit;
        }
      }
    }

    .mat-row {
      cursor: pointer;
    }
  }
}

:host-context(.is-dark-theme) {
  .mat-form-field {
    color: rgba(var(--light-primary-text));
  }
}
