<table
  class="gf-table w-100"
  matSort
  matSortActive="allocationCurrent"
  matSortDirection="desc"
  mat-table
  [dataSource]="dataSource"
>
  <ng-container matColumnDef="symbol">
    <th *matHeaderCellDef class="px-1" i18n mat-header-cell mat-sort-header>
      Symbol
    </th>
    <td *matCellDef="let element" class="px-1" mat-cell>
      {{ element.symbol | gfSymbol }}
    </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th
      *matHeaderCellDef
      class="d-none d-lg-table-cell justify-content-end px-1"
      i18n
      mat-header-cell
      mat-sort-header
    >
      Value
    </th>
    <td class="d-none d-lg-table-cell px-1" mat-cell *matCellDef="let element">
      <div class="d-flex justify-content-end">
        <gf-value
          [isCurrency]="true"
          [locale]="locale"
          [value]="isLoading ? undefined : element.value"
        ></gf-value>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="performance">
    <th
      *matHeaderCellDef
      class="d-none d-lg-table-cell px-1 text-right"
      i18n
      mat-header-cell
    >
      Performance
    </th>
    <td class="d-none d-lg-table-cell px-1" mat-cell *matCellDef="let element">
      <div class="d-flex justify-content-end">
        <gf-value
          [colorizeSign]="true"
          [isPercent]="true"
          [locale]="locale"
          [value]="isLoading ? undefined : element.netPerformancePercent"
        ></gf-value>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="allocationInvestment">
    <th
      *matHeaderCellDef
      class="justify-content-end px-1"
      i18n
      mat-header-cell
      mat-sort-header
    >
      Initial Allocation
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex justify-content-end px-1">
        <gf-value
          [isPercent]="true"
          [locale]="locale"
          [value]="isLoading ? undefined : element.allocationInvestment"
        ></gf-value>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="allocationCurrent">
    <th
      *matHeaderCellDef
      class="justify-content-end px-1"
      i18n
      mat-header-cell
      mat-sort-header
    >
      Current Allocation
    </th>
    <td *matCellDef="let element" class="px-1" mat-cell>
      <div class="d-flex justify-content-end">
        <gf-value
          [isPercent]="true"
          [locale]="locale"
          [value]="isLoading ? undefined : element.allocationCurrent"
        ></gf-value>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    *matRowDef="let row; columns: displayedColumns"
    mat-row
    [ngClass]="{
      'cursor-pointer': !ignoreAssetSubClasses.includes(row.assetSubClass)
    }"
    (click)="
      !ignoreAssetSubClasses.includes(row.assetSubClass) &&
        onOpenPositionDialog({ symbol: row.symbol })
    "
  ></tr>
</table>

<ngx-skeleton-loader
  *ngIf="isLoading"
  animation="pulse"
  class="px-4 py-3"
  [theme]="{
    height: '1.5rem',
    width: '100%'
  }"
></ngx-skeleton-loader>

<div
  *ngIf="
    dataSource.data.length === 0 && hasPermissionToCreateOrder && !isLoading
  "
  class="p-3 text-center"
>
  <gf-no-transactions-info-indicator
    [hasBorder]="false"
  ></gf-no-transactions-info-indicator>
</div>

<div
  *ngIf="dataSource.data.length > pageSize && !isLoading"
  class="my-3 text-center"
>
  <button i18n mat-stroked-button (click)="onShowAllPositions()">
    Show all...
  </button>
</div>

<mat-paginator class="d-none" [pageSize]="pageSize"></mat-paginator>
