:host {
  color: rgb(var(--dark-primary-text));
  display: block;

  a {
    color: rgba(var(--palette-primary-500), 1);
    font-weight: 500;

    &:hover {
      color: rgba(var(--palette-primary-300), 1);
    }
  }

  .hint-text {
    font-size: 90%;
    line-height: 1.2;
  }

  .danger-zone {
    &-text {
      color: rgba(var(--palette-warn-500), 1);
    }
    &-hr {
      background-color: rgba(var(--palette-warn-500), 1);
    }
  }
}

:host-context(.is-dark-theme) {
  color: rgb(var(--light-primary-text));
}
