@import 'apps/client/src/styles/ghostfolio-style';

:host {
  display: block;

  .fab-container {
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    z-index: 999;
  }

  .mat-mdc-table {
    th {
      ::ng-deep {
        .mat-sort-header-container {
          justify-content: inherit;
        }
      }
    }
  }
}
