:host {
  display: block;

  .mat-mdc-dialog-content {
    max-height: unset;
  }

  ion-icon {
    &.rotate-90 {
      transform: rotate(90deg);
    }
  }

  .filter-settings-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .filter-settings-description {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
}
