<div class="container">
  <h1 class="h3 mb-4 text-center" i18n>Markets</h1>
  <div class="mb-5">
    <div class="mb-4 media">
      <div class="media-body">
        <h3 class="h5 mt-0">Crypto Coins Heatmap</h3>
        <div class="mb-1">
          With the <i>Crypto Coins Heatmap</i> you can track the daily market
          movements of cryptocurrencies as a visual snapshot.
        </div>
        <div>
          <a href="https://www.tradingview.com/heatmap/crypto" target="_blank"
            >Crypto Coins Heatmap →</a
          >
        </div>
      </div>
    </div>
    <div class="mb-4 media">
      <div class="media-body">
        <h3 class="h5 mt-0">Fear & Greed Index</h3>
        <div class="mb-1">
          The fear and greed index was developed by <i>CNNMoney</i> to measure
          the primary emotions (fear and greed) that influence how much
          investors are willing to pay for stocks.
        </div>
        <div>
          <a href="https://money.cnn.com/data/fear-and-greed/" target="_blank"
            >Fear & Greed Index →</a
          >
        </div>
      </div>
    </div>
    <div class="media">
      <div class="mb-4 media">
        <h3 class="h5 mt-0">Inflation Chart</h3>
        <div class="mb-1">
          <i>Inflation Chart</i> helps you find the intrinsic value of stock
          markets, stock prices, goods and services by adjusting them to the
          amount of the money supply (M0, M1, M2) or price of other goods (food
          or oil).
        </div>
        <div>
          <a href="https://inflationchart.com" target="_blank"
            >Inflation Chart →</a
          >
        </div>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h3 class="h5 mt-0">Stock Heatmap</h3>
        <div class="mb-1">
          With the <i>Stock Heatmap</i> you can track the daily market movements
          of stocks as a visual snapshot.
        </div>
        <div>
          <a href="https://www.tradingview.com/heatmap/stock" target="_blank"
            >Stock Heatmap →</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
