<div class="container">
  <div class="d-md-block d-none mb-5 row">
    <div class="col">
      <h2 class="text-center" i18n>Data Providers</h2>
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="align-items-center d-flex my-3">
            <div class="w-50">
              <a
                class="align-items-center d-inline-flex"
                target="_blank"
                [href]="pricingUrl"
              >
                @if (hasGhostfolioApiKey === false) {
                  <span class="badge badge-warning mr-1" i18n>NEW</span>
                }
                Ghostfolio Premium
                <gf-premium-indicator
                  class="d-inline-block ml-1"
                  [enableLink]="false"
                />
              </a>
            </div>
            <div class="w-50">
              @if (hasGhostfolioApiKey === true) {
                <div class="align-items-center d-flex flex-wrap">
                  <div class="mr-3">
                    {{ ghostfolioApiStatus.dailyRequests }}
                    <ng-container i18n>of</ng-container>
                    {{ ghostfolioApiStatus.dailyRequestsMax }}
                    <ng-container i18n>daily requests</ng-container>
                  </div>
                  <button
                    color="warn"
                    mat-flat-button
                    (click)="onRemoveGhostfolioApiKey()"
                  >
                    <span i18n>Remove API key</span>
                  </button>
                </div>
              } @else if (hasGhostfolioApiKey === false) {
                <button
                  color="accent"
                  mat-flat-button
                  (click)="onSetGhostfolioApiKey()"
                >
                  <ion-icon class="mr-1" name="key-outline" />
                  <span i18n>Set API key</span>
                </button>
              }
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="mb-5 row">
    <div class="col">
      <h2 class="text-center" i18n>Platforms</h2>
      <gf-admin-platform />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text-center" i18n>Tags</h2>
      <gf-admin-tag />
    </div>
  </div>
</div>
