:host {
  .allocations-by-symbol {
    gf-portfolio-proportion-chart {
      max-width: 80vh;
    }
  }

  .world-map-chart {
    .mat-card {
      .mat-card-content {
        aspect-ratio: 16 / 9;
      }
    }
  }

  .mat-card {
    .mat-card-header {
      ::ng-deep {
        .mat-card-header-text {
          flex: 1 1 auto;
        }
      }

      gf-toggle {
        font-size: 90%;
      }
    }

    a {
      color: rgba(var(--palette-primary-500), 1);
      font-weight: 500;

      &:hover {
        color: rgba(var(--palette-primary-300), 1);
      }
    }
  }
}
