<mat-tab-group
  animationDuration="0ms"
  class="position-absolute"
  headerPosition="below"
  mat-align-tabs="center"
  (selectedTabChange)="onTabChanged()"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <ion-icon name="analytics-outline" size="large"></ion-icon>
    </ng-template>
    <div
      class="
        align-items-center
        container
        d-flex
        flex-column
        h-100
        justify-content-center
        overview
        position-relative
      "
    >
      <div class="row w-100">
        <a
          *ngIf="historicalDataItems?.length !== 0"
          class="chart-container col"
          [routerLink]="[]"
          [queryParams]="{performanceChartDialog: true}"
        >
          <gf-line-chart
            class="mr-3"
            symbol="Performance"
            [historicalDataItems]="historicalDataItems"
            [showLoader]="false"
            [showXAxis]="false"
            [showYAxis]="false"
          ></gf-line-chart>
        </a>
        <div
          *ngIf="historicalDataItems?.length === 0"
          class="
            align-items-center
            chart-container
            d-flex
            justify-content-center
            w-100
          "
        >
          <div class="d-flex justify-content-center">
            <gf-no-transactions-info-indicator></gf-no-transactions-info-indicator>
          </div>
        </div>
      </div>
      <div class="overview-container row mt-1">
        <div class="col">
          <gf-portfolio-performance-summary
            class="pb-4"
            [baseCurrency]="user?.settings?.baseCurrency"
            [isLoading]="isLoadingPerformance"
            [locale]="user?.settings?.locale"
            [performance]="performance"
            [showDetails]="!hasImpersonationId || hasPermissionToReadForeignPortfolio"
          ></gf-portfolio-performance-summary>
          <div class="text-center">
            <gf-toggle
              [defaultValue]="dateRange"
              [isLoading]="isLoadingPerformance"
              [options]="dateRangeOptions"
              (change)="onChangeDateRange($event.value)"
            ></gf-toggle>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <ion-icon name="wallet-outline" size="large"></ion-icon>
    </ng-template>
    <div class="container justify-content-center pb-3 px-3 positions">
      <h3 class="d-flex justify-content-center mb-3" i18n>Holdings</h3>
      <div class="row">
        <div class="align-items-center col">
          <div class="pb-2 text-center">
            <gf-toggle
              [defaultValue]="dateRange"
              [isLoading]="isLoadingPerformance"
              [options]="dateRangeOptions"
              (change)="onChangeDateRange($event.value)"
            ></gf-toggle>
          </div>

          <mat-card *ngIf="hasPositions === true" class="p-0">
            <mat-card-content>
              <gf-positions
                [baseCurrency]="user?.settings?.baseCurrency"
                [deviceType]="deviceType"
                [locale]="user?.settings?.locale"
                [positions]="positions"
                [range]="dateRange"
              ></gf-positions>
            </mat-card-content>
          </mat-card>
          <div
            *ngIf="hasPositions === false"
            class="d-flex justify-content-center"
          >
            <gf-no-transactions-info-indicator></gf-no-transactions-info-indicator>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <ion-icon name="reader-outline" size="large"></ion-icon>
    </ng-template>
    <div class="container pb-3 px-3 positions">
      <div class="row">
        <div class="col-xs-12 col-md-6 mb-3">
          <mat-card class="h-100">
            <mat-card-header>
              <mat-card-title i18n>Performance</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <gf-portfolio-performance
                [baseCurrency]="user?.settings?.baseCurrency"
                [isLoading]="isLoadingPerformance"
                [locale]="user?.settings?.locale"
                [performance]="performance"
              ></gf-portfolio-performance>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-xs-12 col-md-6">
          <mat-card class="h-100">
            <mat-card-header>
              <mat-card-title i18n>Summary</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <gf-portfolio-overview
                [baseCurrency]="user?.settings?.baseCurrency"
                [isLoading]="isLoadingOverview"
                [locale]="user?.settings?.locale"
                [overview]="overview"
              ></gf-portfolio-overview>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
